@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    section{
        @apply py-[75px]
    }
}

@layer components{
    .container{
        @apply max-w-full w-[1140px] px-3 mx-auto;
    }
    .btn{
        @apply bg-primaryColor py-[15px] px-[35px] rounded-[50px] text-white font-[600] mt-[38px];
    }
    .heading{
        @apply text-[44px] leading-[54px] font-[700] text-headingColor; 
    }
    .text_para{
        @apply text-[10px] leading-[30px] font-[100] text-textColor mt-[18px];
    }
    .header{
        @apply bg-[url("./assets/images/mask.png")] bg-no-repeat bg-cover bg-center w-full h-[100px] leading-[100px]
    }
}

@media only screen and (max-width: 1024px){
    .container{
        @apply w-full
    }
    section{
        @apply py-[35px];
    }
}

@media only screen and (max-width: 768px) {
    .heading{
        @apply text-[25px] leading-[35px];
    }
    .text_para{
        @apply text-[12px] leading-7 mt-3
    }
}